@use "colors";
@use "ui";
@use "app";

// This File is only for Base Configuration

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: colors.$foreground;
  background-color: colors.$background;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
}
