// This file is only for colors

$primary: rgb(15 76 129);
$secondary: rgb(64 154 233);
$background: rgb(255 255 255);
$foreground: rgb(0 0 0);
$divider: rgb(81, 94, 103);
$dropzone: rgb(250, 250, 250);
$border: rgb(221, 221, 221);
