@use "colors";

// This SCSS file is only for UI Components

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: opacity 0.25s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: colors.$primary;
  color: colors.$background;
}

.btn-secondary {
  background-color: colors.$background;
  color: colors.$primary;
  border-color: colors.$primary;
}
